body
{
    background-color: lightblue;
}

h1
{
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
}

p
{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}

div.box
{
    background-color: rgb(79, 79, 226);
    padding: 2px 5px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

div.center
{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.align
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}